.header{
    color:white;
    box-shadow: 5px 2px 18px #888888;
    width: 100%;
    height: auto;
    font-family: SFProText;
    position: fixed;
    z-index: 100;
}
.mobile-header{
    padding: 5px;
    color:white;
    background-color: #001529;
    box-shadow: 5px 2px 18px #888888;
    width: 100%;
    height: auto;
    font-family: SFProText;
    position: relative;
    text-align: center;
}
.mobile-menu-div{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: SFProText;
}
.mobile-heading{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 21px;
}
a{
    color:white;
}
.navigation a{
    color:white;
}
.serch-div{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.serch-div .search{
    padding-top: 15px;
}
.logo{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 24px;
}
.navigation div{
    cursor: pointer;
}
.textcenter{
    text-align: center;
}
.home-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.mobile-home-div a{
    color:black
}
.pet-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.grocery-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.kitchen-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.garden-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.sports-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.beauty-div:hover{
    border-bottom: 3px solid #37A3FF;
}
.brand-name{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    line-height: 1.7;
}
.drawer a{
    color:black
}
.mobile-menu-div-bottom{
    width: 100%;
    /* margin-top: 20%; */
    /* position: fixed; */
    flex-direction: row;
    text-align: right;
    border-right: 1px solid lightgray;
    padding: 5px;
}
